body{margin-top: 10px;
    text-align: center;
align-items: center;
justify-content: center;
padding: 5px;
background-color:whitesmoke;}

button{background-color:limegreen;
border-radius: 25px;
cursor: pointer;
}
button:hover{background-color: red;}


input{border-radius: 15px;
background-color: lightgrey;}